.clear {
    clear: both;
    margin: -10px;
}

#assetLoadFrame {
    border: none;
    display: none;
    height: 0px;
    margin: -10px;
    width: 0px;
}

#displayThumbs img {
    display: inline;
    margin: 0 5px;
    height: 50px;
    width: 50px;
}

#displayWindow {
    background: gray;
    border: 1px dotted black;
    display: none;
    left: 15%;
    min-height: 310px;
    min-width: 510px;
    padding: 5px;
    position: absolute;
    top: 25%;
    z-index: 50;
}
#displayWindowImg {
    float: left;
}
#displayWindowImg img {
    height: 300px;
    width: 500px;
}
#displayWindowInfo {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    max-width: 300px;
}
